# Dictionary Function

- Methods
- Attributes
- Extract values from dictionary

# User Define Functuon
- default funnction
- request arguments functions
- optional arguments functions
- pass arguments with values and key=values

In [1]:
l1 = ["vivek","vishan","03412934930","0001"]
#all elements are stored with index number
#0=name
#1=father
#2=cell
#3=id
print(l1[0], l1[1], l1[2], l1[3])

vivek vishan 03412934930 0001

In [2]:
print(*l1) #Unzip ek ek argument or element ko print kari ga

vivek vishan 03412934930 0001

# Dictionary

In [5]:
#item = key:value(pair)
obj1 = {
    'name' : 'Vivek',
    'fname' : 'vishan',
    'cell' : '03412934930',
    'id' : '0001',
    'age' : 50,
}

obj1

{'age': 50,
 'cell': '03412934930',
 'fname': 'vishan',
 'id': '0001',
 'name': 'Vivek'}

In [6]:
obg1[0]

NameError: name 'obg1' is not defined

In [7]:
obj1['name']

'Vivek'

In [8]:
obj1['fname']

'vishan'

In [9]:
obj1['cell']

'03412934930'

In [10]:
obj1['id']

'0001'

In [11]:
#element = key:value(pair)
#key - string, integer
obj1 = {
    'name' : 'Vivek',
    'fname' : 'vishan',
    'cell' : '03412934930',
    'id' : '0001',
    'age' : '50',
    0 : 'pakistan zinda bad'
}
obj1

{0: 'pakistan zinda bad',
 'age': '50',
 'cell': '03412934930',
 'fname': 'vishan',
 'id': '0001',
 'name': 'Vivek'}

In [12]:
obj1[0]

'pakistan zinda bad'

In [13]:
#element = key:value(pair)
#key - string, integer
obj1 = {
    'name' : 'Vivek',
    'fname' : 'vishan',
    'cell' : '03412934930',
    'id' : '0001',
    'age' : '50',
    0 : 'pakistan zinda bad',
    ['abc'] : 'hello world'
}
obj1[0]

TypeError: unhashable type: 'list'

In [14]:
#element = key:value(pair)
#key - string, integer
obj1 = {
    'name' : 'Vivek',
    'fname' : 'vishan',
    'cell' : '03412934930',
    'id' : '0001',
    'age' : '50',
    0 : 'pakistan zinda bad',
    ('abc') : 'hello world'
}
obj1[0]

'pakistan zinda bad'

In [15]:
obj1.keys()

dict_keys(['name', 'fname', 'cell', 'id', 'age', 0, 'abc'])

In [17]:
#element = key:value(pair)
#key - string, integer
obj1 = {
    'name' : 'Vivek',
    'fname' : 'vishan',
    'cell' : '03412934930',
    'id' : '0001',
    'age' : '50',
    0 : 'pakistan zinda bad',
    'abc' : ['a','b','c']
}
obj1['abc']

['a', 'b', 'c']

In [19]:
obj1['abc'][1]

'b'

# Function
- function decleration
- function body
- function calling

def name(parameter1, parameter2):
    statement1
    statement2
    statement3
    statement4
name(arg1,arg2)

In [20]:
#Sequence arguments
def abc(name,fname,course):# function decr
    print(name,fname,course)# function body

In [21]:
abc('Vivek','Vishan','A.I')#function call

Vivek Vishan A.I

In [22]:
abc('A.I','Vivek','Vishan')#function call

A.I Vivek Vishan

In [23]:
abc("Vivek","Vishan")

TypeError: abc() missing 1 required positional argument: 'course'

In [24]:
l1 = ["Vivek","Vishan","A.I"]
abc(l1[0],l1[1],l1[2])

Vivek Vishan A.I

In [25]:
abc(*l1)

Vivek Vishan A.I

In [26]:
abc(course='A.I',name='Vivek', fname='Vishan')

Vivek Vishan A.I

In [28]:
obj = {'course':'A.I',
       'name':'Vivek',
       'fname':'vishan',
      }
abc(**obj)
#abc(course='A.I',name='Vivek', fname='Vishan')

Vivek vishan A.I

# Dictionary Methods

In [29]:
#Shalow copy only copy address data will same
#deep copy assign new addresses

a= 5
b= 5
print(id(a))
print(id(b))

1529376352
1529376352

In [30]:
obj1

{0: 'pakistan zinda bad',
 'abc': ['a', 'b', 'c'],
 'age': '50',
 'cell': '03412934930',
 'fname': 'vishan',
 'id': '0001',
 'name': 'Vivek'}

In [31]:
obj2 = obj1
print(id(obj1))
print(id(obj2))

1374152405568
1374152405568

In [32]:
a=obj1.copy()
a

{0: 'pakistan zinda bad',
 'abc': ['a', 'b', 'c'],
 'age': '50',
 'cell': '03412934930',
 'fname': 'vishan',
 'id': '0001',
 'name': 'Vivek'}

In [33]:
obj

{'course': 'A.I', 'fname': 'vishan', 'name': 'Vivek'}

In [34]:
print(id(obj1))
print(id(a))

1374152405568
1374152409024

In [35]:
obj.clear()
obj

{}

In [37]:
l1 = ['name','fname','course','timing','address']
dict.fromkeys(l1)

{'address': None, 'course': None, 'fname': None, 'name': None, 'timing': None}

In [38]:
a1 =dict.fromkeys(l1,'abc')
#a1 = dict.fromkeys(l1, value='##')
a1

{'address': 'abc',
 'course': 'abc',
 'fname': 'abc',
 'name': 'abc',
 'timing': 'abc'}

In [39]:
a1['cell']

KeyError: 'cell'

In [40]:
a1.get('name')

'abc'

In [43]:
a1.get('cell')

In [44]:
a1.get('cell','NotValid')

'NotValid'

In [45]:
a1.get('contactNumber')
#Extract value from key without generate error

In [46]:
a1

{'address': 'abc',
 'course': 'abc',
 'fname': 'abc',
 'name': 'abc',
 'timing': 'abc'}

In [47]:
l1=a1.keys()
l1

dict_keys(['name', 'fname', 'course', 'timing', 'address'])

In [49]:
names = ['vivek','asif','amjad','azhar']

for name in names:
    if name=='vivek':
        print(True)

True

In [50]:
'vivek' in names

True

In [51]:
'timing' in l1

True

In [52]:
obj1

{0: 'pakistan zinda bad',
 'abc': ['a', 'b', 'c'],
 'age': '50',
 'cell': '03412934930',
 'fname': 'vishan',
 'id': '0001',
 'name': 'Vivek'}

In [53]:
obj1.keys()

dict_keys(['name', 'fname', 'cell', 'id', 'age', 0, 'abc'])

In [54]:
obj1.values()

dict_values(['Vivek', 'vishan', '03412934930', '0001', '50', 'pakistan zinda bad', ['a', 'b', 'c']])

In [55]:
obj1.items()

dict_items([('name', 'Vivek'), ('fname', 'vishan'), ('cell', '03412934930'), ('id', '0001'), ('age', '50'), (0, 'pakistan zinda bad'), ('abc', ['a', 'b', 'c'])])

In [57]:
a1={
    0:'A',
    1:'B',
    3:'D',
    2:'C',
    4:'E'
}
a1

{0: 'A', 1: 'B', 2: 'C', 3: 'D', 4: 'E'}

In [58]:
sorted(a1)

[0, 1, 2, 3, 4]

In [59]:
obj1

{0: 'pakistan zinda bad',
 'abc': ['a', 'b', 'c'],
 'age': '50',
 'cell': '03412934930',
 'fname': 'vishan',
 'id': '0001',
 'name': 'Vivek'}

In [60]:
for e in obj1:
    print(e)

name
fname
cell
id
age
0
abc

In [61]:
for v in obj1.values():
    print(v)

Vivek
vishan
03412934930
0001
50
pakistan zinda bad
['a', 'b', 'c']

In [62]:
a , b = [20,25]
print(a,b)

20 25

In [63]:
a , b, c = [20,25,'abc']
print(a,b,c)

20 25 abc

In [66]:
for k,v in obj1.items():
#    print(e[0],e[1])
    print('key=',k,'value=',v)
    # print(e)

key= name value= Vivek
key= fname value= vishan
key= cell value= 03412934930
key= id value= 0001
key= age value= 50
key= 0 value= pakistan zinda bad
key= abc value= ['a', 'b', 'c']

In [67]:
obj1

{0: 'pakistan zinda bad',
 'abc': ['a', 'b', 'c'],
 'age': '50',
 'cell': '03412934930',
 'fname': 'vishan',
 'id': '0001',
 'name': 'Vivek'}

In [68]:
obj1.pop('abc')

['a', 'b', 'c']

In [69]:
obj1

{0: 'pakistan zinda bad',
 'age': '50',
 'cell': '03412934930',
 'fname': 'vishan',
 'id': '0001',
 'name': 'Vivek'}

In [70]:
obj1.popitem()

(0, 'pakistan zinda bad')

In [71]:
obj1

{'age': '50',
 'cell': '03412934930',
 'fname': 'vishan',
 'id': '0001',
 'name': 'Vivek'}

In [72]:
obj1.setdefault('xyz','pak')
obj1

{'age': '50',
 'cell': '03412934930',
 'fname': 'vishan',
 'id': '0001',
 'name': 'Vivek',
 'xyz': 'pak'}

In [74]:
a1 = {
    'a':'A',
    'name': 'Ali'}
obj1.update(a1)
obj1

{'a': 'A',
 'age': '50',
 'cell': '03412934930',
 'fname': 'vishan',
 'id': '0001',
 'name': 'Ali',
 'xyz': 'pak'}

In [75]:
{'a','b','a','c','a'} #set

{'a', 'b', 'c'}

In [77]:
a1 = {} #Empty Dictionary
a1

{}

In [78]:
a1['name'] = 'vivek'
a1['fname'] = 'vishan'
a1['age'] = 20
a1

{'age': 20, 'fname': 'vishan', 'name': 'vivek'}

In [79]:
db =[]
while True:
    print("Press 'x' for exit")
    name =input("Enter your name:")
    fname =input("Enter your Father's name:")
    r = {}
    if name!='x' or fname!='x':
        r['name'] = name
        r['fname'] = fname
        db.append(r)
    else:
        break
        db

Press 'x' for exit
Enter your name:Vivek
Enter your Father's name:Vishan
Press 'x' for exit
Enter your name:Rajesh
Enter your Father's name:Sajan
Press 'x' for exit
Enter your name:Aneel
Enter your Father's name:Vishan
Press 'x' for exit
Enter your name:Madan
Enter your Father's name:Vishan
Press 'x' for exit
Enter your name:Khushal
Enter your Father's name:Sajan
Press 'x' for exit
Enter your name:x
Enter your Father's name:x

In [81]:
db

[{'fname': 'Vishan', 'name': 'Vivek'},
 {'fname': 'Sajan', 'name': 'Rajesh'},
 {'fname': 'Vishan', 'name': 'Aneel'},
 {'fname': 'Vishan', 'name': 'Madan'},
 {'fname': 'Sajan', 'name': 'Khushal'}]

# Functions

In [82]:
print("Saylani Welfer Trust")
print("Bhadra bad")
print("Karachi")
print("A.I")

Saylani Welfer Trust
Bhadra bad
Karachi
A.I

In [83]:
print("Saylani Welfer Trust")
print("Bhadra bad")
print("Karachi")
print("A.I")

Saylani Welfer Trust
Bhadra bad
Karachi
A.I

**Default function(Aisa Function jo apse koi argument na ly)**

In [84]:
def info():
    print("Saylani Welfer Trust")
    print("Bhadra bad")
    print("Karachi")
    print("A.I")

In [86]:
info()

Saylani Welfer Trust
Bhadra bad
Karachi
A.I

**Required Arguments**

In [89]:
def student(name, sid, fname):
    abc = """
    Saylani Welfer Trust
    Bhadra bad Karachi")
    Name: {}
    Father Name: {}
    Roll No: {}
    """.format(name, fname, sid)
    
    return abc

In [90]:
print(student('Vivek', 'Vishan','001'))

    Saylani Welfer Trust
    Bhadra bad Karachi")
    Name: Vivek
    Father Name: 001
    Roll No: Vishan

In [91]:
print(student(name = 'Vivek', fname ='Vishan', sid ='001'))

    Saylani Welfer Trust
    Bhadra bad Karachi")
    Name: Vivek
    Father Name: Vishan
    Roll No: 001

In [92]:
l1=[{'name':'Ali','fname':'Hamza', 'sid':1},
   {'name':'Amjad','fname':'Hazaro', 'sid':2},
   {'name':'Azhar','fname':'Wali', 'sid':3},
   {'name':'Asif','fname':'Hakeem', 'sid':4}]

In [93]:
for d in l1:
    print(student(**d))

    Saylani Welfer Trust
    Bhadra bad Karachi")
    Name: Ali
    Father Name: Hamza
    Roll No: 1


    Saylani Welfer Trust
    Bhadra bad Karachi")
    Name: Amjad
    Father Name: Hazaro
    Roll No: 2


    Saylani Welfer Trust
    Bhadra bad Karachi")
    Name: Azhar
    Father Name: Wali
    Roll No: 3


    Saylani Welfer Trust
    Bhadra bad Karachi")
    Name: Asif
    Father Name: Hakeem
    Roll No: 4

In [97]:
a1 = input("name")
a2 = int(input("sid"))
for d in l1:
    if d['name']==a1 and d['sid']==a2:
        print(student(**d))
        print('Valid user')
        break
    else:
        print('Invalid User')

nameAli
sid1

    Saylani Welfer Trust
    Bhadra bad Karachi")
    Name: Ali
    Father Name: Hamza
    Roll No: 1

Valid user

In [100]:
print(student('vivek','vishan','3')) #sequence args

    Saylani Welfer Trust
    Bhadra bad Karachi")
    Name: vivek
    Father Name: 3
    Roll No: vishan

In [101]:
print(student(name='vivek',sid = 7, fname= 'vishan')) # key =value args

    Saylani Welfer Trust
    Bhadra bad Karachi")
    Name: vivek
    Father Name: vishan
    Roll No: 7

In [102]:
l1 = ['vivek','vishan',7]
print(student(*l1))

    Saylani Welfer Trust
    Bhadra bad Karachi")
    Name: vivek
    Father Name: 7
    Roll No: vishan

In [105]:
l1 = {'name':'vivek','fname':'vishan','sid':27}
print(student(**l1))

    Saylani Welfer Trust
    Bhadra bad Karachi")
    Name: vivek
    Father Name: vishan
    Roll No: 27

In [106]:
def abc(a=0,b=0,c=0):
    return a + b + c

print(abc(1))
print(abc(2,5))
print(abc(3,4,7))
print(abc(c=30))

1
7
14
30

In [107]:
abc(1,2,4,5,4,34,34,53)

TypeError: abc() takes from 0 to 3 positional arguments but 8 were given

In [108]:
def abc(*a):
    return sum(a)

In [109]:
print(abc(1,2,4,4,2))
print(abc(1,4,2))
print(abc(1,2,4,3,43,4,2))

13
7
59

In [111]:
def abc(name, fname , *a):
    print("user:",name)
    print("fname:",fname)
    print(sum(a))
abc('Vivek','Vishan',2,3,4,5,6,2,4)

user: Vivek
fname: Vishan
26

In [113]:
def  abc(**d):
    print(d)

print(abc(name='vivek',fname='vishan'))
print(abc(a='aa',b='cc'))

{'name': 'vivek', 'fname': 'vishan'}
None
{'a': 'aa', 'b': 'cc'}
None

In [114]:
obj1

{'a': 'A',
 'age': '50',
 'cell': '03412934930',
 'fname': 'vishan',
 'id': '0001',
 'name': 'Ali',
 'xyz': 'pak'}

In [118]:
data = [{'name':'Ali','fname':'Hamza', 'pass':True},
   {'name':'Amjad','fname':'Hazaro', 'pass':True},
   {'name':'Azhar','fname':'Wali', 'pass':True},
   {'name':'Asif','fname':'Hakeem', 'pass':True},
    {'name':'Maaz','fname':'Hamza1', 'pass':True},
   {'name':'Amjad1','fname':'Hazaro1', 'pass':True},
   {'name':'Azhar1','fname':'Wali1', 'pass':False},
   {'name':'Asif1','fname':'Hakeem1', 'pass':False}]
registered = []
ind = data.copy()
i = 0
l1 = []
for x in data:
    ind = data.copy()
    if x['pass']==True:
        registered.append(data[i])
    else:
        l1.append(ind.pop(i))
    i+=1
data =l1
#data.pop(*ind)

print("Registered Students")
for i in registered:
    print(i['name'])
    print(i['fname'])
    print('Passing Status:',i['pass'])
    print()

Registered Students
Ali
Hamza
Passing Status: True

Amjad
Hazaro
Passing Status: True

Azhar
Wali
Passing Status: True

Asif
Hakeem
Passing Status: True

Maaz
Hamza1
Passing Status: True

Amjad1
Hazaro1
Passing Status: True

write a program that has the dictionary of your friends' names as keys and phone numbers as its values.
print the dictionary in sorted order. promt the user to enter the name and check if it is present in the
dictionary . if name is not preseent then enter the details in dictionary.