# Control Flow

In [1]:
print("Vivek Anand PIAIC AIC009558")

Vivek Anand PIAIC AIC009558

In [2]:
a= "SayLani"
print(a)
print(type(a))

SayLani
<class 'str'>

# String Class Methods & Attributes

In [3]:
a = "SayLani walFare trust"
print(a)

SayLani walFare trust

In [4]:
a.capitalize()

'Saylani walfare trust'

In [5]:
a.title()

'Saylani Walfare Trust'

In [6]:
a.upper()

'SAYLANI WALFARE TRUST'

In [7]:
a.lower()

'saylani walfare trust'

In [8]:
print(a)

SayLani walFare trust

In [9]:
print?

In [10]:
a.center??

In [11]:
abc = """
Saylani Walfare Trust
City: Karachi
Country: Pakistan
"""
abc

'\nSaylani Walfare Trust\nCity: Karachi\nCountry: Pakistan\n'

In [12]:
abc = """
Saylani Walfare Trust
City: Karachi
Country: Pakistan
"""
print(abc)

Saylani Walfare Trust
City: Karachi
Country: Pakistan

In [13]:
abc = """
************PIAIC*************
Saylani Walfare Trust
Name: Vivak Anand
Father's Name: Vishan Das
Roll No: AIC009558
City: Karachi
Country: Pakistan
*************END**************
"""
print(abc)

************PIAIC*************
Saylani Walfare Trust
Name: Vivak Anand
Father's Name: Vishan Das
Roll No: AIC009558
City: Karachi
Country: Pakistan
*************END**************

In [14]:
name = "Vivak Anand"
father_name = "Vishan Das"
roll_no = "AIC009558"
city = "Karachi"
country = "Pakistan"
"""
************PIAIC*************
Saylani Walfare Trust
Name: {}
Father's Name: {}
Roll No: {}
City: {}
Country: {}
*************END**************
"""
print(abc.format(name, father_name, roll_no, city, country))

************PIAIC*************
Saylani Walfare Trust
Name: Vivak Anand
Father's Name: Vishan Das
Roll No: AIC009558
City: Karachi
Country: Pakistan
*************END**************

In [15]:
a = print("pakistan")
print(a)

pakistan
None

In [17]:
a = input("Enter your Name:")
a

Enter your Name:Vivek Anand

'Vivek Anand'

In [22]:
name = input("Enter your Name:")
father_name =input("Enter your Father's Name:")
roll_no = input("Enter your Roll No:")
city = input("Enter your City:")
country = input("Enter your Country")
"""
************PIAIC*************
Saylani Walfare Trust
Name          : {}
Father's Name : {}
Roll No       : {}
City          : {}
Country       : {}
*************END**************
"""
print(abc.format(name, father_name, roll_no, city, country))

Enter your Name:Vivak Anand
Enter your Father's Name:Vishan Das
Enter your Roll No:AIC009558
Enter your City:Karachi
Enter your CountryPakistan

************PIAIC*************
Saylani Walfare Trust
Name: Vivak Anand
Father's Name: Vishan Das
Roll No: AIC009558
City: Karachi
Country: Pakistan
*************END**************

In [23]:
a = "Pakistan"
b = "Zinda abad"
a + b

'PakistanZinda abad'

In [24]:
a = 4
b = 5
a + b

9

In [25]:
4 + 4

8

# Operators  +, -, *, /, %, // # Mathematics

In [26]:
4 + 5

9

In [27]:
5 - 4

1

In [28]:
4 * 5

20

In [29]:
4 / 5

0.8

In [35]:
8 % 5

3

In [37]:
10 // 5

2

In [38]:
10 ** 5

100000

In [40]:
4 + 5 - 6 * ( 3 * 5 / 6 ) * 3 + 6 / 3

-34.0

In [41]:
#pemdas(Prenthesis_Exponents_Multiplection_Devision_Addition_Subtraction)
4 + 5 - 6 * ( 3 * 5 / 6 ) * 3 + 6 / 3
4 + 5 - 6 * ( 15 / 6 ) * 3 + 6 / 3
4 + 5 - 6 * ( 2.5 ) * 3 + 6 / 3
4 + 5 - 6 * ( 7.5 ) + 6 / 3
4 + 5 - 45 + 6 / 3
4 + 5 - 45 + 2
9 - 45 + 2
11 - 45
-34

-34

# =, +=, -=, *=, /=, %= # Mathematics

In [57]:
a = "Pakistan"
a

'Pakistan'

In [58]:
a = "chinna"
a

'chinna'

In [59]:
a * 2

'chinnachinna'

In [60]:
a = "abc"
a

'abc'

In [61]:
a += " xyz"
a

'abc xyz'

In [65]:
a *= 2
a

0

In [104]:
a = 23
a %= 3
a

2

In [105]:
a = 4
a **= 2
a

16

In [106]:
a = "abc"
\a **= 2
a

SyntaxError: unexpected character after line continuation character (<ipython-input-106-144fa273b4e0>, line 2)

# ==, <, >, <=, >=, !=, <> # Logical Operators

In [107]:
5 == 5

True

In [108]:
3 == 4

False

In [109]:
5 > 4

True

In [110]:
5 < 4

False

In [111]:
5 != 5

False

In [112]:
3 <= 5

True

In [113]:
5 <= 3

False

In [114]:
5 != 4

True

In [1]:
5 <= 6 and 4 >= 6 and 4 <= 4
#True and False and True
#False

False

In [2]:
5 <= 6 and 4 >= 6 or 4 <= 4
#True and False or True
#True

True

In [3]:
5 <= 6 and 4 <= 6 and 4 < 5
#True and True and True
#True

True

In [4]:
True | False # OR

True

In [5]:
True & True & False # AND

False

In [6]:
a = 'abc'
b = 'xyz'
c = '27'
a + b + c

'abcxyz27'

In [7]:
a = 'abc'
b = 'xyz'
c = '27'
print(a,b,c)

abc xyz 27

In [8]:
a = 'abc'
b = 'xyz'
c = 27
a + b + c

TypeError: must be str, not int

In [9]:
a = 'abc'
b = 'xyz'
c = 27
a + b + str(c)

'abcxyz27'

In [10]:
a = '1'
b = '1'
a + b

'11'

In [11]:
a = input()
b = input()
a + b

1
2

'12'

In [12]:
int(a) + int(b)

3

In [13]:
float(a) + float(b)

3.0

In [14]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Control Flow
loop (for , while) exception if else elif switch

# If, else, elif
if logic: true value else: false valueif logic1: true value 1 elif logic2: true value 2 elif logic3: true value 3 else: false valueif logic1 and logic2 and logic3: value true else: false value

In [15]:
name = input("Enter your name:")
if name == 'vivek':
    print("AI Class Student")
else:
    print("Other Class Student")

Enter your name:vivek
AI Class Student

In [16]:
name = input("Enter your name:")
if name == 'vivek':
    print("AI Class Student")
else:
    print("Other Class Student")

Enter your name:Vivek
Other Class Student

In [17]:
name = input("Enter your name:")
if name.lower() == 'vivek':
    print("AI Class Student")
else:
    print("Other Class Student")

Enter your name:ViVek
AI Class Student

In [18]:
per = 89
if per >= 0:
    print("Fail")
elif per >= 33:
    print("E")
elif per >= 40:
    print("D")
elif per >= 50:
    print("C")
elif per >= 60:
    print("B")
elif per >= 70:
    print("A")
elif per >= 80:
    print("A+")

Fail

In [20]:
per = 89

if per >= 0 and per <33:
    print("Fail")
elif per >=33 and per <40:
    print("E")
elif per >= 40 and per <50:
    print("D")
elif per >= 50 and per < 60:
    print("C")
elif per >= 60 and per <70:
    print("B")
elif per >= 70 and per <80:
    print("A")
elif per >=80 and per <100:
    print("A+")
else:
    print("Not Valid")

A+

In [25]:
per = int(input("Enter your percentage :"))

if per >= 0 and per <33:
    print("You are Fail")
elif per >=33 and per <40:
    print("Your grade is E")
elif per >= 40 and per <50:
    print("Your grade is D")
elif per >= 50 and per < 60:
    print("Your grade is C")
elif per >= 60 and per <70:
    print("Your grade is B")
elif per >= 70 and per <80:
    print("Your grade is A")
elif per >=80 and per <100:
    print("Your grade is A+")
else:
    print("Not Valid")

Enter your percentage :89
Your grade is A+

In [28]:
per = 87

if per >= 80:
    print("A+")
elif per >= 70:
    print("A")
else:
    print("Fail")

A+

In [29]:
names = ['vivek', 'amjad' , 'Asif']
names

['vivek', 'amjad', 'Asif']

In [30]:
names[2] # ref[indexnunmber]

'Asif'

In [31]:
names

['vivek', 'amjad', 'Asif']

In [32]:
names[2] = "shaffique"

In [33]:
names

['vivek', 'amjad', 'shaffique']

In [34]:
names = []
while True:
    a = input("Names:")
    if a != "x":
        names.append(a)
    else:
        break

names

Names:Asif
Names:Amjad
Names:Shaffique
Names:Azhar
Names:Maaz
Names:Aqib
Names:Rizwan
Names:x

['Asif', 'Amjad', 'Shaffique', 'Azhar', 'Maaz', 'Aqib', 'Rizwan']

In [1]:
def add(x, y):
    return x + y
def subtract(x,y):
    return x - y
def multiply(x,y):
    return x * y
def divide(x, y):
    return x/y

choice = input("Enter Choice (1/2/3/4)")
num1 = float(input("Enter Number1:"))
num2 = float(input("Enter Number2:"))

if choice == '1':
    print (num1,'+',num2,'=',add(num1,num2))
if choice == '2':
    print(num1,'-',num2,'=',subtract(num1,num2))
if choice == '3':
    print(num1,'*',num2,'=',multiply(num1,num2))
if choice == '4':
    print(num1,'/',num2,'=',divide(num1,num2))

Enter Choice (1/2/3/4)1
Enter Number1:3
Enter Number2:4
3.0 + 4.0 = 7.0